# Tagalog Fake News Detector

## Imports

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
import string
from spacy.lang.tl.stop_words import STOP_WORDS as tl_stop_words

## Dataset

In [3]:
data = pd.read_csv("dataset.csv")
data

      label                                            article
0         0  Ayon sa TheWrap.com, naghain ng kaso si Krupa,...
1         0  Kilala rin ang singer sa pagkumpas ng kanyang ...
2         0  BLANTYRE, Malawi (AP) -- Bumiyahe patungong Ma...
3         0  Kasama sa programa ang pananalangin, bulaklak ...
4         0  Linisin ang Friendship Department dahil dadala...
...     ...                                                ...
3201      1  Hindi pa nai-enjoy ni Giacomo Filibeck ang Pil...
3202      1  Sa isang pahayag, binatikos ng Liberal Party (...
3203      1  Panoorin nyo yung reaction video na ito ni Mr....
3204      1  Para sa mga magkakapatid na laging nagtatalo l...
3205      1  Grabe ibang klase talaga si Vice Ganda kung ma...

[3206 rows x 2 columns]

## Data Cleaning

Shuffle the data to prevent bias:

In [4]:
data = shuffle(data)
data = data.reset_index(drop=True)
data

      label                                            article
0         1  Matapos manalo ni Catriona Gray sa isinagawang...
1         1  MAYNILA, Pilipinas  -  Hinimok ni Foreign Affa...
2         0  Sa kanyang talumpati sa mga nakapasa ng dentis...
3         0  Sa kanyang talumpati sa Lima, sinabi ni Steinm...
4         1  Kinumpirma ng Malacanang na totoo at nakatakda...
...     ...                                                ...
3201      0  Aniya, kung nais ng mga mambabatas na bawasan ...
3202      1  Sapul na sapul sa hidden video ng impormante n...
3203      0  Magtatapat sa pambungad na laban sa ganap na a...
3204      0  Bale ba narinig ni Zoren ang kuwento ni Carmin...
3205      1  Malaking palaisipan kung ano na ang nangyari s...

[3206 rows x 2 columns]

Convert all article text to lowercase:

In [5]:
data["article"] = data["article"].apply(lambda x: x.lower())
data

      label                                            article
0         1  matapos manalo ni catriona gray sa isinagawang...
1         1  maynila, pilipinas  -  hinimok ni foreign affa...
2         0  sa kanyang talumpati sa mga nakapasa ng dentis...
3         0  sa kanyang talumpati sa lima, sinabi ni steinm...
4         1  kinumpirma ng malacanang na totoo at nakatakda...
...     ...                                                ...
3201      0  aniya, kung nais ng mga mambabatas na bawasan ...
3202      1  sapul na sapul sa hidden video ng impormante n...
3203      0  magtatapat sa pambungad na laban sa ganap na a...
3204      0  bale ba narinig ni zoren ang kuwento ni carmin...
3205      1  malaking palaisipan kung ano na ang nangyari s...

[3206 rows x 2 columns]

Remove punctuations from article text:

In [7]:
def remove_punctuation(text):
    no_puncs = [char for char in text if char not in string.punctuation]
    clean = "".join(no_puncs)
    
    return clean

data["article"] = data["article"].apply(remove_punctuation)
data

      label                                            article
0         1  matapos manalo ni catriona gray sa isinagawang...
1         1  maynila pilipinas    hinimok ni foreign affair...
2         0  sa kanyang talumpati sa mga nakapasa ng dentis...
3         0  sa kanyang talumpati sa lima sinabi ni steinme...
4         1  kinumpirma ng malacanang na totoo at nakatakda...
...     ...                                                ...
3201      0  aniya kung nais ng mga mambabatas na bawasan a...
3202      1  sapul na sapul sa hidden video ng impormante n...
3203      0  magtatapat sa pambungad na laban sa ganap na a...
3204      0  bale ba narinig ni zoren ang kuwento ni carmin...
3205      1  malaking palaisipan kung ano na ang nangyari s...

[3206 rows x 2 columns]

Remove stop words:

In [11]:
data["article"] = data["article"].apply(lambda x: " ".join([word for word in x.split() if word not in (tl_stop_words)]))
data

      label                                            article
0         1  matapos manalo catriona gray isinagawang miss ...
1         1  maynila pilipinas hinimok foreign affairs secr...
2         0  talumpati nakapasa dentistry board manila hote...
3         0  talumpati sinabi steinmeiere magkakaroon huge ...
4         1  kinumpirma malacanang totoo nakatakdang ilabas...
...     ...                                                ...
3201      0  aniya mambabatas bawasan kinokolektang buwis m...
3202      1  sapul sapul hidden video impormante presidenti...
3203      0  magtatapat pambungad ganap alas415 hapon wala ...
3204      0  bale ba narinig zoren kuwento carmina press ne...
3205      1  malaking palaisipan nangyari p15 billion alloc...

[3206 rows x 2 columns]

## Exploratory Data Analysis

In [ ]:
# fake/real splits
# fake word cloud
# real word cloud
# fake most frequent words
# real most frequent words